@import url("https://cdn.jsdelivr.net/gh/jgthms/minireset.css@master/minireset.min.css");

body {
  background: radial-gradient(
    circle,
    rgb(44, 164, 17) 10%,
    rgba(168, 168, 168, 1) 71%,
    rgba(0, 0, 0, 1) 100%
  );
  font-family: "Cinzel", serif;
  font-optical-sizing: auto;
  font-weight: bold;
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 0.5fr 1fr 1fr 1fr 0.5fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 2fr 1fr;
  overflow: scroll;
}

h1 {
  font-size: 40px;
  font-weight: bolder;
  grid-column-start: 2;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 2;
  align-content: center;
  text-align: center;
}

.intro {
  grid-column-start: 2;
  grid-column-end: 5;
  grid-row-start: 2;
  grid-row-end: 3;
  align-content: center;
  text-align: center;
  border-color: olive;
  border-style: inset;
  border-width: 8px;
  margin: 10px;
}

.form-section {
  grid-column-start: 2;
  grid-column-end: 5;
  grid-row-start: 3;
  grid-row-end: 5;
  align-content: center;
  text-align: center;
  border-color: olive;
  border-style: inset;
  border-width: 8px;
  margin: 10px;
}

#form {
  font-size: 20px;
}

#immersive {
  grid-column-start: 2;
  grid-column-end: 5;
  grid-row-start: 5;
  grid-row-end: 6;
  align-content: flex-start;
  text-align: center;
  border-color: olive;
  border-style: inset;
  border-width: 8px;
  margin: 10px;
}

.character-wrapper {
  grid-column-start: 2;
  grid-column-end: 5;
  grid-row-start: 5;
  grid-row-end: 6;
  align-content: center;
  text-align: center;
  border-color: olive;
  border-style: inset;
  border-width: 8px;
  margin: 10px;
  overflow-y: scroll;
  max-height: fit-content;
}

media-query {
  max-width: 800px;
  max-height: max-content;
}
